
*{
    margin: 0px;
    padding: 0px;
    border: 0;
    scroll-behavior: smooth;
}

@media all and (max-width : 426px){
    #texte_accueil {
        margin-top: 100%;
        width: 100%;
    }

    #texte_education {
        margin-top: 100%;
        width: 100%;
    }

    #texte_experience {
        margin-top: 100%;
        width: 100%;
    }

    #texte_informations {
        margin-top: 100%;
        width: 100%;
    }
}
